html,body{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
.landing{
  background: url("./img/landscape-4316683_1920.jpg") no-repeat center center fixed;
  width: 100%;
  height: 100%;
  display: table;
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
h1,h2,h5{
  font-family: 'Russo One', sans-serif;
}
h5{
  font-size: 1rem;
}
.header{
  text-align: center;
  margin-top:5rem;
  margin-bottom:5rem;
}
nav li{
 margin-left: 5rem;
}
.logo{
  text-align: center;
  font-size: 0.8rem;
  display: block;
}
.logo hr{
  padding: 0;
  margin:0.2rem;
}
.logo .fa-code{
  float: left;
  font-size: 2.4rem;
  margin-right: .4rem;
}
.hero{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-shadow: .2rem .2rem .5rem black;
}
.hero h1{
  font-size: 6rem;
}
.hero hr{
  border-top: .2rem solid white;
}
.hero .btn-primary{
  margin-top: 2rem;
}
.technologies{

}
.technologies .fab{
  font-size: 10rem;
}
.technologies .row{
  padding-bottom: 3rem;
}